* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}

header {
    text-align: center;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.lista {
    list-style-type: none;
    padding: 5px; 
    background-color: black; 
    border-radius: 10px;
    margin-bottom: auto;
} 

.lista__item {
    display: inline;
    padding: 15px;
} 

.itemTexto  {
    font-size: 30px;
    color: aliceblue;
    font-family:'Jost', sans-serif;
    text-decoration: none;
    transition: all .25s;
}

.itemTexto:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
}
header div{
    margin: 5px;
}
header div img{
    width: 200px;
    height: 100px;
    border-radius:30px ;
}

footer {
    padding: 20px;
    background-color: black;
    text-align: center; 
    margin: 20px;
    border-radius: 10px ;   
}

.redes {
    text-decoration: none;
    color: white;
    font-style: normal;
    font-family: 'Jost', sans-serif ;
    transition: all 0.25s;
}

.redes:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
}

@media screen and (max-width:768px){

    .itemTexto{
        font-size: 20px;
    }
    .lista__item{
        padding: 1px;
    }   
}

/* MAIN INDEX */

#main{ 
    padding: 20px;
    background-color: white;   
}

#main .main-flex1 .imagen-flex1, .main-flex2 .imagen-flex2{
    width: 700px;
    height: 500px;
    padding: 15px;
}

#main .main-flex1 .imagen-flex1 img, .main-flex2 .imagen-flex2 img{
    width: 100%;
    height: 100%;
    border-radius: 120px;
}

.main-flex1{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 5px;
    margin-bottom:20px;
    align-items: center;
    justify-content:space-evenly;
    border-radius: 30px;
}

.grid1{
    width: 600px ;
    height: 400px;
    display: grid;
    background-color: brown;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px ;  
}

.grid1 .celda1, .grid2 .celda01 {
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 5px;
}

.grid1 .celda2, .grid2 .celda02{
    padding: 20px;
    margin: 5px;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    text-align: center;
}

.grid1 .celda3, .grid2 .celda03{
    padding: 20px;
    margin: 5px;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    text-align: center;
}

.main-flex2{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 5px;
    margin-bottom: 20px;
    align-items:center;
    justify-content:space-evenly;
    border-radius: 30px;
}

.imagen-flex2{
    order: 2;
}

.grid2{
    width: 600px ;
    height: 400px;
    display: grid;
    background-color: brown;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px ;
    order: 1;    
}

.mobileItem, .mobileItem div{
    display: none;
}

@media screen and (max-width:768px) {
    
    #main .main-flex1 .imagen-flex1, .main-flex2 .imagen-flex2{
        width: auto;
        height: auto;
        padding: 15px;
    }
    
    .grid1, .grid2{
        display: none;
    }
    .mobileItem, .mobileItem div{
        display: block;
        color: white;
        font-family:'Jost', sans-serif; 
        text-align: center;
    }
    .main-flex2{
        flex-direction: column-reverse;
    }
}

/* MAIN PROMOCIONES */
#mainPromos{
    padding: 20px;
}

.flexPromos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.promos, .promos img{
    width: auto;
    height: auto;
    border-radius: 10px;
}

.carta{
    padding-top: 20px;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 60px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    font-family:'Jost', sans-serif ;
    color: white;
    display: block;
    transition: all 0.5s;
}

.carta:hover{
    background-color: white;
    color: black ;
    font-size: 25px;
}

.mobileProm{
    display: none;
}

@media  screen and (max-width:768px) {
    .mobileProm{
        display:block;
        margin-bottom: 10px;
        margin-top:  0px;
    }
    .flexPromos{
        display: none;
    }
    
}

/* MAIN TESTIMONIOS */

#mainTestimonios{
    padding: 20px;
    height: 700px;
}

.flexText{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.colFlex{
    background-color: aqua;
    width: auto;
    width: 300px;
    height: 300px;
    font-family:'Jost', sans-serif ;
    text-align: center;
    align-self: center;
}

@media screen and (max-width:768px) {
     
    #mainTestimonios{
        height: auto;
    }
}




/* MAIN GALERIA */

#mainGaleria {
    padding: 30px;
}

.flexGale{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

/* MAIN CONTACTO */

#mainContact {
    padding: 30px;
    height: 500px;
}

.flexContact{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#mainContact .form2 {
    border: 5px solid black;
    font-family: 'Jost', sans-serif;
}

#mainContact .form1{
    border: 5px solid black;
    font-family: 'Jost', sans-serif;
}
#mainContact .form1 tr .espacio {
    padding: 20px;   
}




