header {
    text-align: center;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    & div {
        margin:5px;
        img {
        width: 200px;
        height: 100px;
        border-radius:30px;
        }
    }
    & nav .lista {
        list-style-type: none;
        padding: 5px; 
        background-color: black; 
        border-radius: 10px;
        margin-bottom: auto;
        .lista__item{
            display: inline;
            padding: 15px;
            .itemTexto{
                font-size: 30px;
                color: aliceblue;
                font-family:$texto;
                text-decoration: none;
                transition: all .25s;
                &:hover{
                    background-color: aliceblue;
                    color: black;
                    border-radius: 5px;
                }
            }
        }
    }
}

.navBarMobile {
    display: none;
}

@media (max-width:768px) {
    nav {
        display: none;
    }

    .navBarMobile {
        display: block;
    }

    .lista__itemM{
        display: block;
        padding: 1px;
        .itemTextoM{
            font-size: 30px;
            color: aliceblue;
            font-family:$texto;
            text-decoration: none;
            transition: all .25s;
            &:hover{
                background-color: aliceblue;
                color: black;
                border-radius: 5px;
            }
        }
    }
}
