* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* VARS */
$texto:'Jost', sans-serif;
$tablet: 768px;
$desktop: 1200px;
/* VARS */

/* MIXINS */
@mixin flx {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 5px;
    margin-bottom:20px;
    align-items: center;
    justify-content:space-evenly;
    border-radius: 30px;
}

@mixin grd {
    width: 600px ;
    height: 400px;
    display: grid;
    background-color: brown;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px ; 
}

@mixin prop {
    font-family: $texto;
    text-align: center;
    padding: 20px;
    margin: 5px;
}

/* MIXINS */

body {
    background-color: white;
}

@import 'header';
@import 'footer';

/* MAIN FLEX */


#main { 
    padding: 20px;
    background-color: white;
    .main-flex1 .imagen-flex1, .main-flex2 .imagen-flex2{
        width: 700px;
        height: 500px;
        padding: 15px;
    }
    .main-flex1 .imagen-flex1 img, .main-flex2 .imagen-flex2 img{
        width: 100%;
        height: 100%;
        border-radius: 120px; 
    }
    & .main-flex1 {
        @include flx;
        .grid1 {
            @include grd;
            .celda1{
                @include prop;
                font-size: 40px;
            }
            .celda2{
                @include prop;
                font-size: 20px;
            }
            .celda3{
                @include prop;
                font-size: 30px;
            }
        }
    }
    & .main-flex2 {
        @include flx;
        .imagen-flex2 {
            order: 2;
        }
        .grid2{
            @include grd;
            order: 1;
            .celda01 {
                @include prop;
                font-size: 40px;
            } 
            .celda02{
                @include prop;
                font-size: 20px;
            } 
            .celda03{
                @include prop;
                font-size: 30px;
            }  
        }
    }      
}

.mobileItem {
    display: none;
    .div {
        display: none;
    }
}

@media screen and (max-width:768px) {
    
    #main {
        & .main-flex1{ 
            .imagen-flex1{
                width: auto;
                height: auto;
                padding: 15px;
            }
            .grid1{
                display: none;
            }
        }
        & .main-flex2 {
            flex-direction: column-reverse;
            .imagen-flex2{
                width: auto;
                height: auto;
                padding: 15px;
            }
            .grid2{
                display: none;
            }
        }    
    } 
    .mobileItem {
        display: block;
        color: white;
        font-family:$texto; 
        text-align: center;
        div{
            display: block;
            color: white;
            font-family:$texto; 
            text-align: center;
        }
    }
}

/* MAIN PROMOCIONES */
#mainPromos {
    padding: 20px;
    & .flexPromos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        & .promos{
            width: auto;
            height: auto;
            border-radius: 10px;
            img{
                width: auto;
                height: auto;
                border-radius: 10px;
            }
        }
    }
    & .carta {
        padding-top: 20px;
        background-color: rgb(0, 0, 0);
        width: auto;
        height: 60px;
        text-align: center;
        justify-content: center;
        border-radius: 20px;
        text-decoration: none;
        font-family:'Jost', sans-serif ;
        color: white;
        display: block;
        transition: all 0.5s;
        &:hover{
            background-color: white;
            color: black ;
            font-size: 25px;
        }
    }
    & .mobileProm {
        display: none;
    }
}

@media (max-width:768px) {
    #mainPromos{
        & .mobileProm {
            display:block;
            margin-bottom: 10px;
            margin-top:  0px;

        }
        & .flexPromos{
            display: none;
        }
    }     
}



